PORT=8080
HTTPS_PORT=8081
ALLOW_ORIGINS=
MONGODB_URI=mongodb+srv://thienkhoi0808work:y8Gq45EfKIlfjRdJ@cluster-web.boyj95z.mongodb.net/web-ecommerce

SALT_ROUNDS=10
SECRET_KEY=express

FACEBOOK_CLIENT_ID=880502456787836
FACEBOOK_CLIENT_SECRECT=1c0ce7d3ab9bb1ba8f377a0af2700a25

GOOGLE_CLIENT_ID=190671601363-871pkcv7hcslp3u5885mnk7lejnotp40.apps.googleusercontent.com
GOOGLE_CLIENT_SECRECT=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

MONGODB_USER=thienkhoi0808work
MONGODB_PASSWORD=y8Gq45EfKIlfjRdJ

CLOUDINARY_NAME=dla2x6wpo
CLOUDINARY_API_KEY=798587262922875
CLOUDINARY_API_SECRET=ozzWGTRH0Qk4D7KKz1br2G5fAyY

PAYMENT_SERVICE_URL=http://localhost:8880
PAYMENT_SERVICE_SECRET=payment_service
PAYMENT_SERVICE_PARTNER_ID=hcmus