<div class="bs-stepper">
    <div class="bs-stepper-header" role="tablist" style="padding: 0 25%;">
        <!-- your steps here -->
        <div class="step" data-target="#information-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                id="information-part-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">INFOMATION</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#payment-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="payment-part"
                id="payment-part-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">PAYMENT</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#review-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Review</span>
            </button>
        </div>
    </div>
    <div class="bs-stepper-content">
        <!-- your steps content here -->
        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
            <!-- Checkout Start -->
            <div class="container-fluid pt-5" style="display: flex; justify-content: center;">
                <div class="row px-xl-5">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <h4 class="font-weight-semi-bold mb-4">RECEIVER ADDRESS</h4>
                            <div id="info" class="row">
                                <div class="col-md-6 form-group">
                                    <label>Full name</label>
                                    <input class="form-control" type="text" name="fullname" placeholder="John">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email" name="email"
                                        placeholder="example@email.com">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Phone number</label>
                                    <input class="form-control" type="tel" name="phoneNumber"
                                        placeholder="+84827463529">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" name="address"
                                        placeholder="Nguyen Van Cu street, 5 district, Ho Chi Minh city">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Note</label>
                                    <input class="form-control" type="text" name="note" placeholder="Please be careful">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-secondary mb-5">
                            <div class="card-header bg-secondary border-0">
                                <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="font-weight-medium mb-3">Products</h5>
                                <div class="d-flex justify-content-between">
                                    <p>Colorful Stylish Shirt 1</p>
                                    <p>$150</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Colorful Stylish Shirt 2</p>
                                    <p>$150</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Colorful Stylish Shirt 3</p>
                                    <p>$150</p>
                                </div>
                                <hr class="mt-0">
                                <div class="d-flex justify-content-between mb-3 pt-1">
                                    <h6 class="font-weight-medium">Subtotal</h6>
                                    <h6 class="font-weight-medium">$150</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-medium">Shipping</h6>
                                    <h6 class="font-weight-medium">$10</h6>
                                </div>
                            </div>
                            <div class="card-footer border-secondary bg-transparent">
                                <div class="d-flex justify-content-between mt-2">
                                    <h5 class="font-weight-bold">Total</h5>
                                    <h5 class="font-weight-bold">$160</h5>
                                </div>
                            </div>
                            <div class="card-footer border-secondary bg-transparent">
                                <button
                                    class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 to-payment-btn">Continues</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Checkout End -->
        </div>
        <div id="payment-part" class="content" role="tabpanel" aria-labelledby="payment-part-trigger">
            <div class="container-fluid pt-5">
                <div class="row px-xl-5" style="justify-content: center;">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">CURRENT CARDS</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">VIETINBAK</h5>
                            <div class="d-flex justify-content-between" style="align-items: center;">
                                <p>
                                    <input type="radio" name="payment" id="directcheck"> 127269432178310
                                </p>
                                <p>-</p>
                                <p>DUONG TAN TON</p>
                            </div>

                            <h5 class="font-weight-medium mb-3">VIETINBAK</h5>
                            <div class="d-flex justify-content-between" style="align-items: center;">
                                <p>
                                    <input type="radio" name="payment" id="directcheck"> 127269432178310
                                </p>
                                <p>-</p>
                                <p>DUONG TAN TON</p>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button
                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 to-review-btn">Pay</button>
                        </div>
                    </div>
                    <h1 style="padding: 20px;">OR</h1>
                    <div class="col-lg-5">
                        <div class="mb-4">
                            <h4 class="font-weight-semi-bold mb-4">CARD PAYMENT</h4>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Card ID</label>
                                    <input class="form-control" type="text" placeholder="John">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Card Holder</label>
                                    <input class="form-control" type="text" placeholder="Doe">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Expired date</label>
                                    <input class="form-control" type="text" placeholder="example@email.com">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Ccv</label>
                                    <input class="form-control" type="text" placeholder="+123 456 789">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Issuer</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                            </div>
                            <button
                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 add-card-btn">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
            <div class="container-fluid pt-5">
                <div class="row px-xl-5 row" style="justify-content: center;">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <h4 class="font-weight-semi-bold mb-4">BILLING ADDRESS</h4>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="John">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="Doe">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="example@email.com">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" type="text" placeholder="+123 456 789">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Note</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">CURRENT CARDS</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">VIETINBAK</h5>
                            <div class="d-flex justify-content-between" style="align-items: center;">
                                <p>
                                    <input type="radio" name="payment" id="directcheck"> 127269432178310
                                </p>
                                <p>-</p>
                                <p>DUONG TAN TON</p>
                            </div>

                            <h5 class="font-weight-medium mb-3">VIETINBAK</h5>
                            <div class="d-flex justify-content-between" style="align-items: center;">
                                <p>
                                    <input type="radio" name="payment" id="directcheck"> 127269432178310
                                </p>
                                <p>-</p>
                                <p>DUONG TAN TON</p>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button
                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 to-pay-btn">Pay</button>

                            <button
                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 to-infomation-btn">Back</button>
                            <button
                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 to-cancel-btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var stepper = new Stepper($('.bs-stepper')[0])
        $(".to-payment-btn").click(function () {
            const body = {
                fullname: $("#info input[name='fullname']").val(),
                email: $("#info input[name='email']").val(),
                phoneNumber: $("#info input[name='phoneNumber']").val(),
                address: $("#info input[name='address']").val(),
                note: $("#info input[name='note']").val(),
            }
            const response = await fetch("/checkout/info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(body),
            })
            stepper.next()
        })
        $(".to-review-btn").click(function () {
            stepper.next()
        })
        $(".to-cancel-btn").click(function () {

        })
        $(".to-pay-btn").click(function () {

        })
        $(".add-card-btn").click(function () {

        })
        $(".to-infomation-btn").click(function () {
            stepper.to(0)
        })
    })
</script>