<link href="/public/client/css/main.css" rel="stylesheet">

<section style="margin-top: 100px; margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form id="signin">
                        <input type="email" required placeholder="Email Address" />
                        <input type="password" placeholder="Enter password" />
                        <span style="display: flex; align-items: center;">
                            <div>Or start with: </div>
                            <div style="margin-left: 10px; margin-right: 10px;">
                                <a href="/auth/facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div style="margin-left: 10px; margin-right: 10px;">
                                <a href="/auth/google">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                        </span>
                        <button type="button" class="btn-signin btn bg-primary">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or bg-primary">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form id="signup">
                        <input type="text" required placeholder="Fullname" />
                        <input type="tel" required placeholder="Phone number" />
                        <input type="email" required placeholder="Email Address" />
                        <input type="password" required placeholder="Password" />
                        <input type="password" required placeholder="Retype password" />
                        <button type="button" class="btn-signup btn bg-primary">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".btn-signin").click(async function () {
            const email = $("#signin input[type='email']").val();
            const password = $("#signin input[type='password']").val();
            if (email.length == 0) {
                alert("Email must not be empty");
                return;
            }
            if (password.length == 0) {
                alert("Password must not be empty");
                return;
            }
            const body = {
                email,
                password,
            };
            const response = await fetch("/auth/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(body),
            }).then((res) => res.json());
            if (response.errorCode == 0) {
                const url = response.data;
                window.location.href = url;
            } else {
                alert(res.message);
            }
        });
        $(".btn-signup").click(async function () {
            const fullname = $("#signup input[type='text']").val();
            const phone = $("#signup input[type='tel']").val();
            const email = $("#signup input[type='email']").val();
            const password = $("#signup input[type='password']").val();
            const retypePassword = $("#signup input[type='password']").val();
            if (fullname.length == 0) {
                alert("Fullname must not be empty");
                return;
            }
            if (phone.length == 0) {
                alert("Phone must not be empty");
                return;
            }
            if (email.length == 0) {
                alert("Email must not be empty");
                return;
            }
            if (password.length < 6) {
                alert("Password must be at least 6 characters");
                return;
            }
            if (password != retypePassword) {
                alert("Password and retype password must be the same");
                return;
            }
            const body = {
                fullname,
                phone,
                email,
                password
            };
            const response = await fetch("/auth/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(body),
            }).then((res) => res.json());
            if (response.errorCode == 0) {
                alert("Register successfully, please login to continue!")
            } else {
                alert(response.message);
            }
        });
    });
</script>